.container{
    display: flex;
    border-radius: 5px;
    padding: 0.8em;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.0em;
}

.label-avatar{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.label-avatar input{
    display: none;
}

.label-avatar span{
    z-index: 99;
    position: absolute;
    opacity: 0;
    transition: all 0.5;
}

.label-avatar span:hover{
    opacity: 0.7;
    transform: scale(1.4);
}

.form-profile img{
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 1.0em;
    border-radius: 50%;
    object-fit: cover;
}

.form-profile label{
    color: white;
    margin-top: 1em;
    font-size: 1em;
}

.form-profile input:disabled{
    cursor: not-allowed;
}

.form-profile textarea{
    resize: none;
    margin-top: 4px;
    font-size: 15px;
    font-family: sans-serif;
    padding-inline: 3px;
    background-color: #D9CDC1;
    border: 2px solid white;
    border-color: white;
    border-radius: 8px;
    width: 300px;
    height: 100px;
    outline: none;
}

.form-profile textarea:focus{
        border-color: rgb(0, 195, 255);
}

.form-profile button{
    margin-top: 1em;
    background-color: #0094FF;
}

@media screen and (max-width: 700px){
    .container{
        margin-top: 10%;
    }
}