.card-add-post{
    margin-top: 1.4em;
    display: flex;
    justify-content: center;
}

.area-post{
    width: fit-content;
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 8px;
}

.post{
    display: flex;
}

.post img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
}

.post textarea{
    resize: none;
    margin-top: 4px;
    font-size: 15px;
    font-family: sans-serif;
    padding-inline: 3px;
    background-color: #D9CDC1;
    border: 2px solid white;
    border-color: white;
    border-radius: 8px;
    min-width: 500px;
    min-height: 70px;
    outline: none;
}

.options-add-post{
    margin-top: 1.0em;
    display: flex;
    justify-content: right;
    align-items: center;
}

.options-add-post button{
    margin-left: 1.0em;
    width: 70px;
    background-color: #0094FF;
}

.inputs-post {
    display: flex;
    flex-direction: column;
}

.label-add-post input{
    display: none;
}

.label-add-post span{
    cursor: pointer;
    opacity: 1;
    transition: all 0.5;
}

.inputs-post label{
    color: white;
    font-size: 15px;
    margin-left: 4px;
    margin-right: 4px;
}

.options-add-post img{
    height: 40px;
    margin-right: 1.0em;
}

.card-posts-feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.4em;
}

.posts-feed{
    padding: 20px;
    width: 600px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 8px;
    margin-block: 1.0em;
}

.infos-autor-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.infos-autor-post img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
}

.infos-autor-post .img-names{
    display: flex;
    align-items: center;
}

.infos-autor-post .nome-nomeUser{
    display: flex;
    flex-direction: column;
}

.infos-autor-post .nome-nomeUser strong{
    color: white;
}

.infos-autor-post .nome-nomeUser a{
    margin: 0;
    opacity: 0.6;
}

.infos-autor-post .data-hora-post{
    display: flex;
}

.data-hora-post span{
    margin-left: 10px;
}

.conteudo-post{
    margin-top: 1.4em;
}

.conteudo-post h1{
    margin-bottom: 0.5em;
}

.conteudo-post h2{
    font-weight: normal;
    margin-top: 1.0em;
    color: white;
    font-size: 20px;
}

.conteudo-post img{
    border-radius: 8px;
    object-fit: cover;
    max-height: 250px;
}

.conteudo-post .img-conteudo-post{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 830px){
    
    .area-post{
        width: 500px;    
        margin-left: 6px;
    }
    .inputs-post{
        display: block;
        width: 420px;
    }
    .inputs-post label{
        display: inline;
    }
    .inputs-post input{
        margin-top: 2px;
        margin-bottom: 8px;
        width: 400px;
    }
    .inputs-post textarea{
        margin-top: 8px;
        min-width: 400px;
        min-height: 70px;
    }
    .options-add-post{
        margin-right: 8px;
    }

    /*area do feed*/
    .posts-feed{
        width: 500px;    
        margin-left: 8px;
    }  
}

@media screen and (max-width: 700px){
    .area-post{
        margin-top: 50px;
    }
}