.card-add-post{
    margin-top: 1.4em;
    display: flex;
    justify-content: center;
}

.area-post{
    width: fit-content;
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 8px;
}

.post{
    display: flex;
}

.post img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
}

.post textarea{
    resize: none;
    margin-top: 4px;
    font-size: 15px;
    font-family: sans-serif;
    padding-inline: 3px;
    background-color: #D9CDC1;
    border: 2px solid white;
    border-color: white;
    border-radius: 8px;
    min-width: 500px;
    min-height: 70px;
    outline: none;
}

.options-add-post{
    margin-top: 1.0em;
    display: flex;
    justify-content: right;
    align-items: center;
}

.options-add-post button{
    margin-left: 1.0em;
    width: 70px;
    background-color: #0094FF;
}

.inputs-post {
    display: flex;
    flex-direction: column;
}

.label-add-post input{
    display: none;
}

.label-add-post span{
    cursor: pointer;
    opacity: 1;
    transition: all 0.5;
}

.inputs-post label{
    color: white;
    font-size: 15px;
    margin-left: 4px;
    margin-right: 4px;
}

.options-add-post img{
    height: 40px;
    margin-right: 1.0em;
}

