.container-chats{
    margin-top: 1.4em;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rooms{
    padding-block: 5px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
}

.container-busca-pessoa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.btn-buscar-pessoa-chat{
    margin-top: 4px;
    font-size: 15px;
    padding-inline: 3px;
    background-color: #D9CDC1;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-right-radius: 8px;
    height: 32px;
    outline: none;
}

.input-buscar-pessoa-chat{
    width: 80%;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 8px;
}

.img-pessoa-chat img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
}

.img-pessoa-chat{
    padding-inline: 15px;
    padding-block: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nome-nomeUser-pessoa-chat{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.nome-nomeUser-pessoa-chat a{
    opacity: 0.6;
    white-space: nowrap;
}

.nome-nomeUser-pessoa-chat strong{
    color: white;
    font-weight: 400;
    white-space: nowrap;
}

.infos-pessoa-chat{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.card-pessoa-chat{
    width: 100%;
}

.btn-open-chat{
    height: 63px;
    background-color: transparent;
    margin-right: 15px;
}

.div-btn-open-chat{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

@media screen and (max-width:1280px) {
    .div-btn-open-chat svg{
        max-width: 20px;
    }
}
@media screen and (max-width:1240px) {
    .div-btn-open-chat{
        max-height: 60px;
    }
    .rooms{
        width: 40%;
    }
    .message{
        width: 60%;
    }
    .img-pessoa-chat{
        width: 80%;
    }
    .img-pessoa-chat strong{
        font-size: 14px;
    }
    .img-pessoa-chat a{
        font-size: 12px;
    }
    .img-pessoa-chat img{ 
        max-width: 40px;
        max-height: 40px;
    }
}

@media screen and (max-width:950px) {
    .div-btn-open-chat{
        max-height: 57px;
    }
    .rooms{
        width: 50%;
    }
    .message{
        width: 50%;
    }
    .img-pessoa-chat img{ 
        max-width: 30px;
        max-height: 30px;
    }
    .btn-enviar-msg{
        font-size:10px;
    }
}

@media screen and (max-width:700px) {
    .container-chats{
        margin-top: 75px;
        padding: 6;
    }
    .msg-user-right label{
        font-size: 14px;
    }
    .msg-user-left label{
        font-size: 14px;
    }
}

@media screen and (max-width:540px) {
    .container-chats{
        margin-top: 75px;
    }
    .container-busca-pessoa input{
        width: 60%;
    }
    .rooms{
        width: 100%;
    }
    .message{
        display: none;
    }
}

@media screen and (max-width:475px) {
    .img-pessoa-chat strong{
        font-size: 12px;
    }
    .img-pessoa-chat a{
        font-size: 10px;
    }
    .div-btn-open-chat{
        max-height: 54px;
    }
    .div-btn-open-chat svg{
        max-width: 17px;
    }
}

@media screen and (max-width:450px) {
    .infos-pessoa-chat{
        margin-left: -6px;
    }
    .img-pessoa-chat strong{
        font-size: 10px;
    }
    .img-pessoa-chat a{
        font-size: 8px;
    }
    .div-btn-open-chat{
        max-height: 51px;
    }
    .msg-user-right label{
        font-size: 12px;
    }
    .msg-user-left label{
        font-size: 12px;
    }
}

@media screen and (max-width:400px) {
    .infos-pessoa-chat{
        margin-left: -8px;
    }
    .img-pessoa-chat strong{
        font-size: 10px;
    }
    .img-pessoa-chat a{
        font-size: 10px;
    }
    .msg-user-right label{
        font-size: 10px;
    }
    .msg-user-left label{
        font-size: 10px;
    }
}