.container-chats-chatRoom{
    margin-top: 1.4em;
    width: 100%;
    height: 90vh;
    border: transparent;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}

.rooms-ChatRoom{
    padding-block: 5px;
    border-right: 1px solid rgba(255,255,255,0.2);
    width: 30%;
    display: none;
    flex-direction: column;
    overflow-y: scroll;
}

.message-ChatRoom{
    padding: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 8px;
}

.container-busca-pessoa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.btn-buscar-pessoa-chat{
    margin-top: 4px;
    font-size: 15px;
    padding-inline: 3px;
    background-color: white;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-right-radius: 8px;
    height: 32px;
    outline: none;
}

.input-buscar-pessoa-chat{
    width: 80%;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 8px;
}

.img-pessoa-chat img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
}

.img-pessoa-chat{
    padding-inline: 15px;
    padding-block: 10px;
    width: 100%;
    /* border-bottom: 1px solid rgba(255,255,255,0.2); */
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nome-nomeUser-pessoa-chat{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.nome-nomeUser-pessoa-chat a{
    opacity: 0.6;
    white-space: nowrap;
}

.nome-nomeUser-pessoa-chat strong{
    color: white;
    font-weight: 400;
    white-space: nowrap;
}

.infos-pessoa-chat{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.card-pessoa-chat{
    width: 100%;
}

.btn-open-chat{
    height: 63px;
    background-color: transparent;
    margin-right: 15px
}

.div-btn-open-chat{
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid rgba(255,255,255,0.2); */
}

.container-message{
    overflow-y: scroll;
    padding: 30px;
    padding-bottom: 100px;
    height: 70vh;
    margin-bottom: 0;
    overflow-wrap: anywhere;
}

.container-message::-webkit-scrollbar-track
{
	border-radius: 10px;

}

.container-message::-webkit-scrollbar
{
	width: 9px;
}

.container-message::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}

.container-btn-send{
    padding-inline: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-btn-send input{
    width: 80%;
}

.btn-enviar-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px  !important;
    height: 35px !important;
    border-radius: 50% !important;
    margin-left: 20px;
    background-color: #968e85;
}

.btn-enviar-msg:hover{
    transition: 0.6s;
    background-color: #0094FF;
}

.msg-right{
    display: flex;
    justify-content: right;
}

.msg-left{
    display: flex;
    justify-content: left;
}

.msg-user-right{
    margin-top: 10px;
    width: fit-content;
    max-width: 650px;
    padding: 10px;
    background-color: #0094FF;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.msg-user-left{
    margin-top: 10px;
    width: fit-content;
    max-width: 650px;
    padding: 10px;
    background-color:#5a5a5a;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.msg{
    color: white;
    font-size: 17px;
    font-weight: 400;
    
}

.header-chatRoom{
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infos-header-chatRoom{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nome-header-chatRoom{
    color: white;
    font-size: 18px;
    margin-inline: 5px;
}

.infos-header-chatRoom img{
   max-width: 50px;
   max-height: 50px;
   min-width: 50px;
   min-height: 50px;
   border-radius: 50%;
}

.infos-header-chatRoom button{
    margin-left: 5px;
 }

 .btn-img-msg {
    margin-left: 6px;
 }

 .btn-code-msg:hover{
    cursor: pointer;
 }

 .btn-code-msg {
    margin-left: 6px;
 }

 .input-code-field{
    padding-inline: 30px;
    width: 100% !important;
 }

 .opts-code-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 .btn-cancel-code:hover{
    cursor: pointer;
 }

 .code-field-msg{
    margin-top: 10px;
    width: 500px !important;
 }

 .btn-send-msg{
    margin-inline: 0 !important;
 }

@media screen and (max-width:1280px) {
    .div-btn-open-chat svg{
        max-width: 20px;
    }

    .code-field-msg{
        width: 500px !important;
     }
}

@media screen and (max-width:1240px) {
    .div-btn-open-chat{
        max-height: 60px;
    }
    .rooms-ChatRoom{
        width: 40%;
    }
    .message-ChatRoom{
        width: 60%;
    }
    .img-pessoa-chat{
        width: 80%;
    }
    .img-pessoa-chat strong{
        font-size: 14px;
    }
    .img-pessoa-chat a{
        font-size: 12px;
    }
    .img-pessoa-chat img{ 
        max-width: 40px;
        max-height: 40px;
    }
    .code-field-msg{
        width: 480px !important;
     }
}

@media screen and (max-width:1230px) {
    .div-btn-open-chat{
        max-height: 57px;
    }
    .rooms-ChatRoom{
        width: 50% !important;
    }
    .img-pessoa-chat img{ 
        max-width: 30px;
        max-height: 30px;
    }
    .btn-enviar-msg{
        font-size:10px;
    }

    .message-ChatRoom{
        width: 100%;
    }

    .code-field-msg{
        width: 370px !important;
     }
}

@media screen and (max-width:950px) {
    .div-btn-open-chat{
        max-height: 57px;
    }
    .rooms-ChatRoom{
        width: 50%;
    }
    .message-ChatRoom{
        width: 50%;
    }
    .img-pessoa-chat img{ 
        max-width: 30px;
        max-height: 30px;
    }
    .btn-enviar-msg{
        font-size:10px;
    }

    .message-ChatRoom{
        width: 100%;
    }

    .code-field-msg{
        width: 350px !important;
     }
}

@media screen and (max-width:700px) {
    .container-chats{
        margin-top: 75px;
        padding: 6;
    }
    .msg-user-right label{
        font-size: 14px;
    }
    .msg-user-left label{
        font-size: 14px;
    }

    .message-ChatRoom{
        width: 100%;
    }

    .header-chatRoom{
       margin-top: 40px;
    }

    .code-field-msg{
        width: 350px !important;
     }
}

@media screen and (max-width:540px) {
    .container-chats{
        margin-top: 75px;
    }
    .rooms-ChatRoom{
        display: none;
    }
    .message-ChatRoom{
        width: 100%;
    }

    .code-field-msg{
        width: 250px !important;
     }
}

@media screen and (max-width:475px) {
    .img-pessoa-chat strong{
        font-size: 12px;
    }
    .img-pessoa-chat a{
        font-size: 10px;
    }
    .div-btn-open-chat{
        max-height: 54px;
    }
    .div-btn-open-chat svg{
        max-width: 17px;
    }
}

@media screen and (max-width:450px) {
    .infos-pessoa-chat{
        margin-left: -6px;
    }
    .img-pessoa-chat strong{
        font-size: 10px;
    }
    .img-pessoa-chat a{
        font-size: 8px;
    }
    .div-btn-open-chat{
        max-height: 51px;
    }
    .msg-user-right label{
        font-size: 12px;
    }
    .msg-user-left label{
        font-size: 12px;
    }
}
@media screen and (max-width:400px) {
    .infos-pessoa-chat{
        margin-left: -8px;
    }
    .img-pessoa-chat strong{
        font-size: 8px;
    }
    .img-pessoa-chat a{
        font-size: 6px;
    }
    .msg-user-right label{
        font-size: 10px;
    }
    .msg-user-left label{
        font-size: 10px;
    }
}