.card-posts-comentarios{
    justify-content: center;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.card-comentarios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-comentarios h1{
    padding-inline: 15px;
    font-size: 17px;
    width: fit-content;
    border-top: 1px solid white;
}

.comentario{
    display: flex;
    align-items: center;
}

.comentario img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.75);
}

.comentario textarea{
    resize: none;
    margin-top: 4px;
    font-size: 15px;
    font-family: sans-serif;
    padding-inline: 3px;
    background-color: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0.411);
    border-radius: 8px;
    min-width: 500px;
    min-height: 70px;
    outline: none;
}

.comentario textarea:focus{
    border-color: rgb(0, 195, 255);
}

.add-comentario{
    margin-top: 1.0em;
    display: flex;
    justify-content: center;
    width: fit-content;
}

.add-comentario form{
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.2);
    width:fit-content;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    border-radius: 8px;
    background-color: white;
}

.add-comentario form button{
    align-self: flex-end;
    margin-top: 1.0em;
    background-color: #000000;
    width: 100px;
}

@media screen and (max-width: 830px){
    .add-comentario{
        width: 100%;
    }
    .add-comentario form{
        width: 500px;
    }
    .add-comentario textarea{
        min-width: 400px;
    }

}

@media screen and (max-width: 700px){
    .posts-feed{
        margin-top: 75px;
    }
}

@media screen and (max-width: 500px){
    .add-comentario textarea{
        min-width: 375px;
    }
    .add-comentario form button{
        margin-left: -10px;
    }
    .add-comentario img{
        width: 40px;
        height: 40px;
    }
    .add-comentario form{
        width: 480px;
        margin-left: 5px;
    }
    .nome-nomeUser strong{
        font-size: 14px;
    }
    .nome-nomeUser a{
        font-size: 12px;
    }
    .data-hora-post span{
        font-size: 12px;
    }
    .conteudo-post h1{
        font-size: 16px;
        }
    .conteudo-post h2{
        font-size: 18px;
        }
}

@media screen and (max-width: 475px){
    .add-comentario form{
        width: 435px;
    }
    .add-comentario textarea{
        min-width: 300px;
    }
}

@media screen and (max-width: 450px){
    .add-comentario form{
        width: 380px;
    }
}

@media screen and (max-width: 400px){
    .add-comentario form{
        width: 370px;
    }
    .add-comentario textarea{
        min-width: 270px;
    }
}

@media screen and (max-width: 375px){
    .add-comentario form{
        width: 340px;
    }
    .add-comentario textarea{
        min-width: 250px;
    }
}

@media screen and (max-width: 350px){
    .add-comentario form{
        width: 330px;
    }
}